/*----Base Style----*/
*{
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
  box-sizing: border-box;
}
body {
  font-family: 'IBM Plex Serif', serif;
  /* display: flex; */

}
form
/* .intro*/{
  display: block;
  width: 90%;
  padding: 10px;
  margin: 5px auto;
  border-top: black solid 2px;
}
h3{
  margin-bottom: 0;
}
fieldset{
  border:none;
}

section,
p,
ul,
#state,
#other,
.footer{
  color: gray;
}

.heading{
  display:block;
  width: 100%;
  margin: 0 auto;
  color: white;
  text-transform: uppercase;
  background-color: gray;
  margin-top:0;
  padding: 15px;
}

.flex-news ul,
li{
  display: block;
}
.container{
  width: 100%;
}
.intro{
  display: block;
  width: 90%;
  padding: 0 10px;
  margin: 0 auto;
  /* display: flex;
  flex-direction: column;
  padding: 0 35px 20px; */
}

.heading,
.intro,
.footer{
  text-align: center;
}

.intro{
  /* width: 80%; */
  border-bottom: black solid 4px;
}

.form-1{
  border-bottom: black solid 1px;
}

.flex-info,
.flex-news{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

legend{
  font-weight: bold;
  font-size: 1.125em;
}



/*-----------------
Attribute Selectors
-------------------*/
/* [class] {
  attribute:value;
}
input[type="submit"] {
  background-color: green;
}
a[target="_blank"] {
  color: tomato;
} */

input:focus, textarea:focus {
  background   : silver;
  border-radius: 5px;
  border-color: blue;
  outline: none;
}

input,
#state {
    height: 2.5em; /* for IE */
    vertical-align: middle; /* This is optional but it makes legacy IEs look better */
    border-radius: 5px;
    outline:none;
    border:none;
    background-color: rgba(0,0,0,.1);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-align: right;
}
::-moz-placeholder { /* Firefox 19+ */
  text-align: right;
}
:-ms-input-placeholder { /* IE 10+ */
  text-align: right;
}
:-moz-placeholder { /* Firefox 18- */
  text-align: right;
}
.form-1 label{
  display: block;
  margin-bottom: 10px;
}

.form-1 input{
  display: block;
  height: 50px;
  width: 100%;
  resize  : none;
  overflow: auto;
}
#zip{
width: 50%;
}

textarea{
  display: block;
  outline:none;
  border:none;
  background-color: silver;
  border-radius: 5px;
  /* padding : 10px; */
  /* margin  : 10px 0; */
  width   : auto;
  height  : 100px;

  resize  : none;
  overflow: auto;
  /* vertical-align: top; --- use as inline --- */
}

button {
  height       :50px;
  width        :100%;
  padding      : 5px;
  color        : white;
  font-size:     .6em;
  font-weight: bold;
  border       : none;
  border-radius: 5px;
  background   : green;

  margin-top   : 25px;
  cursor       : pointer;

/* -webkit-transform: rotate(-1.5deg);
   -moz-transform: rotate(-1.5deg);
    -ms-transform: rotate(-1.5deg);
     -o-transform: rotate(-1.5deg);
        transform: rotate(-1.5deg); */
}

/* button:after {
  content: " >>>";
} */

button:hover,
button:focus {
  outline   : none;
  background: teal;
  color   : #FFF;
}


/*----Media Queries----*/
@media (min-width: 768px){

form,
.intro{
  width: 50%;
}
.intro,
form,
fieldset{
  padding-left: 0;
  padding-right: 0;
}

.flex-info input,
.flex-info label{
  display: inline;
  margin-right: 0;
}
.flex-info input{
  width: 70%;
  margin-left:auto;
  margin-right:0;
}
.flex-info label{
  width: 30%;
}
}
